header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../assets/images/cloud_dreamstime_m_102333020.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.3rem solid black;
    border-radius: 0.8rem;
}

body, html {
    background-image: linear-gradient(rgb(57, 57, 245), rgb(107, 107, 245), rgb(158, 158, 245));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-shadow: 0.2rem 0.2rem 0.4rem white;
    font-size: 5.0rem;
}

h5, h6 {
    font-weight: bolder;
}

.enter-city, .current-weather, .future-weather {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    
    border: 0.2rem solid black;
    background-image: url("../assets/images/cloud_dreamstime_m_102333020.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.search-btn {
    background-color: royalblue;
}

h5 {
    font-size: 2.0rem;
}

img {
    width: 100px;
    height: 100px;
}

.futurePopUp {
    padding: 20px;
    background-color: royalblue;
    color: white;
    float: left;
    margin: 10px;
    border: 0.2rem solid black;
}